body{
    background-color: yellow;
    margin: 0;
}

.container {
    background-color: #e5e619;
    display: flex;
    justify-content: center;
}

img {
    width: 60px;
    padding-right: 10px;
}

form {
    padding-bottom: 30px;
}

input {
    margin-right: 15px;
    width: 150px;
    height: 30px;
}
header {
    display: flex;
    align-items: center;
}

thead th {
    padding-right: 150px;
}

button {
    background-color: #e5e619;
    width: 150px;
    height: 36px;
}

tfoot tr td {
    font-weight: bold;
}
